label {
    color: rgb(22, 22, 22);
  }
  
  input[type="text"],
  input[type="submit"] {
    padding: 1rem;
  }
  
  input[type="submit"] {
    background-color: rgb(106, 95, 146);
    color: white;
    border: none;
  }
