/* form */
  
label {
    color: firebrick;
  }
  
  input[type="text"],
  input[type="submit"] {
    padding: 1rem;
  }
  
  input[type="submit"] {
    background-color: firebrick;
    color: white;
    border: none;
  }